#navupper{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    /* font-size: 16px; */
    position: fixed;
    margin-top: -8px;
    
}
#navupper>p{
    font-size: 12px;
    text-align: center;
}
#secondnav{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    background-color:white;
    /* margin-top: 30px; */
    margin-top: 20px;
}
#secondnav>div{
    margin-top: 20px;
}
    
#img>img{
    width: 100px;
    height: 50px;
    margin-left: 300px; 
    /* margin-top: 20px; */ 
}
#menue{
    margin-left: 100px;
    /* margin-top: -300px; */
    
}
#search{
    margin-left:50px;
   
}
#bag{
    margin-left: 50px;
}
#user{
    margin-left: 50px;
    color: black;
}


.dropbtn {
/* background-color: #3498DB; */
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
}


.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd}


.show {display:block;}
#new{
width: 100%;
/* border: 1px solid blue; */
display: flex;
/* gap: 100px; */
background-color: white;
}
#new>div{
margin-left: 20px;
}
#new>div:last-child{
margin-top: 50px;
margin-left: 150px;
}
#scanecare{
display: flex;
gap: 10px;
/* margin-top: 100px; */
}
#scanecare>div>img{
width: 100%;
margin-top: 100px;



}
#scanecare>div>p{
text-align: center;


}
#love>p,h1{
text-align: center;
}
#love>img{
width: 60%;
height: 200px;
margin-left: 200px;

}
#best{
display: flex;
}
#best>div>img{
width: 90%;
}
#summer{
display: flex;
gap: 10px;
}
#summer>div>img{
width: 100%;
}
button{
height: 30px;
background-color:#ff0066;
color: white;
border-radius: 10px;
}
.icon{
color: rgb(240, 240, 104);
}
#polite{
display: flex;

}
#small{
width: 90%;
height: 100%;
/* border: 1px solid red; */
border-radius: 10px;
}
#big{
height: 100%;
border-radius: 10px;

}
#newlounch{
margin-top: 20px;
display: flex;
gap: 15px;
}
#dabba{
width: 90%;
height: 100%;
}
#concern{
display: grid;
width: 80%;
/* height: 300px; */
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,auto);
margin: auto;
/* border: 1px solid green */
gap: 20px;
}
#concern>div{
/* border: 1px solid red; */
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#concern>div>img{
width: 100%;
/* border: 1px solid red; */
}
#jar{
width: 70%;
margin-left: 50px;
}
.span{
font-size: 25px;
color:black
}
.para{
font-size: 20px;
width: 70%;
color: grey;

}
#pan{
display: flex;
width: 70%;
margin: auto;
}
/* #pan>div{
border: 1px solid red;

} */
.what{
width: 90%;
text-align: center;

}
#journal{
display: flex;
}
.red{
margin-top: 150px;
margin-left: 200px;
}

/* footer */
#footor{
width: 99%;
/* height: 400px; */
/* border: 1px solid red; */
margin: auto;
display: flex;
gap: 120px;
padding-left: 10px;
}
#fb{
display: flex;
gap: 30px;
}
.insta{
margin-top: 25px;

}
#btn>button{
margin-top: 100px;
width: 100px;
height: 40px;
background-color: black;
}
.href{
color: black;
text-decoration: none;
font-size: 18px;
padding-left: 50px;
}