#navupper{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    /* font-size: 16px; */
    position: fixed;
    margin-top: -8px;
    
}
#navupper>p{
    font-size: 12px;
    text-align: center;
}
#secondnav{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    background-color:white;
    /* margin-top: 30px; */
    margin-top: 20px;
}
#secondnav>div{
    margin-top: 20px;
}
    
#img>img{
    width: 100px;
    height: 50px;
    margin-left: 300px; 
    /* margin-top: 20px; */ 
}
#menue{
    margin-left: 100px;
    /* margin-top: -300px; */
    
}
#search{
    margin-left:50px;
   
}
#bag{
    margin-left: 50px;
}
#user{
    margin-left: 50px;
    color: black;
}


.dropbtn {
/* background-color: #3498DB; */
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
}


.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd}


.show {display:block;}
#new{
width: 100%;
/* border: 1px solid blue; */
display: flex;
/* gap: 100px; */
background-color: white;
}



#tpimg{
    width: 100%;
    /* height: 200px; */

}

#navupper{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    /* font-size: 16px; */
    position: fixed;
    margin-top: -8px;
    
}

#container{
    display: grid;
    width: 100%;
    /* border: 1px solid red; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    margin: auto;
    gap: 20px;
    
}
/* #container>div{
    border: 1px solid blue;
} */
#image1{
    width: 100%;
}
#prdiv{
    display: flex;
    /* margin-top: 50px; */
    margin-left: 20px;
}
#stark{
    margin-top: 15px;
    margin-left: 30px;
}
#price{
    color: red;
}
#button{
    width: 100%;
    height: 40px;
    background-color: #ff006d;
    color: white;
}


#secondnav{
    height: 100px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* background-color: black; */
}

#footor{
    width: 99%;
    /* height: 400px; */
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    gap: 120px;
    padding-left: 10px;
}
#fb{
    display: flex;
    gap: 30px;
}
.insta{
    margin-top: 25px;
    
}
#btn>button{
    margin-top: 100px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
}
@media all and (min-width:401px) and (max-width:900px){
    #container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
}

@media all and (min-width:50px) and (max-width:400px){
    #container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
}
